.donut-chart-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
  }

  [data-js-donut-chart] {
    width: 100%;
    max-width: 500px;
  }
}

